		/*.ui-dialog.dialog-actionsheet .ui-dialog-contain {
			margin-top: 100px;
		}
		.ui-dialog-contain {
			width: 92.5%;
			max-width: 500px;
			margin: 10% auto 15px auto;
			padding: 0;
			position: relative;
			top: -15px;
		}
		.ui-grid-a { 
			margin-top:1em; 
			padding-top:.8em; 
			margin-top:1.4em; 
			border-top:1px solid rgba(0,0,0,.1); 
			}
		*/
		/*custom header button*/
		.ui-header>.ui-btn{
			margin:0.2em;
		}
		/*custom search input position*/
		.ui-input-search.ui-mini {
			margin: -0.4em auto -0.4em -0.6em;
		}		